# macOS files
.DS_Store

# rom formats
*.3ds
*.3dsx
*.app
*.axf
*.cii
*.cxi
*.elf
*.cci
*.bs
*.cgb
*.dmg
*.gb
*.gbc
*.sgb
*.sfc
*.smc
*.7z
*.zip
*.agb
*.bin
*.gba
*.gcm
*.iso
*.wbfs
*.wia
*.ciso
*.gcz
*.dol
*.dff
*.json
*.rvz
*.tgc
*.wad
*.m3u
*.nds
*.cbn
*.ccd
*.chd
*.cue
*.ecm
*.exe
*.img
*.mdf
*.mds
*.pbp
*.psexe
*.psf
*.toc
*.z
*.znx
*.cso
*.dump
*.gz
*.isz
*.ngr
*.desktop
*.ps3
*.prx
*.bml
*.bs
*.bsx
*.dx2
*.fig
*.gd3
*.gd7
*.mgd
*.st
*.swc
*.nca
*.nro
*.nso
*.nsp
*.xci
*.rpx
*.tmd
*.wua
*.wud
*.wuhb
*.wux

# save files
*.sav
*.srm